:root{
    --red : red;
    --sec : blue;
    --black: rgba(0, 0, 0, 0.842);
    --white: white;
    --main: linear-gradient(90deg,#cc4645,#9a1d1c);
    --gray: #787e83;
    --bordermain: rgb(182, 35, 35)
}