@import '../../assets/scss/Variable.scss';

.Sectionfooter {
    .footercontent {
        border-bottom: 1px solid rgb(221, 220, 220);
        padding: 50px 0px 0px 0px;

        .footercontentcard {


            @media screen and (max-width: 768px) {
                
                margin-bottom: 20px;

            }

            @media screen and (max-width: 576px) {
                margin-bottom: 10px;
            }

            h6 {
                font-size: 14px;
                font-weight: 700;
                color: $black;
                margin-bottom: 15px;
                @media screen and (max-width: 576px) {
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 5px;

                    a {
                        font-size: 13px;
                        color: $gray;
                        text-decoration: none;

                        @media screen and (max-width: 576px) {
                            font-size: 16px;
                        }

                        &:hover {
                            @include txtmain;
                        }
                    }
                }
            }
        }
    }

    .footercontent2 {
        margin: 30px 0px;

        .footercol {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            

            img {
                height: 38px;
                width: 160px;
                margin-bottom: 10px;
            }

            h5 {
                font-size: 13px;
                color: $black;
            }

            a {
                font-size: 13px;
                color: $gray;
                text-decoration: none;

                &:hover {
                    @include txtmain;
                }
            }
        }
    }
}